@page "/Cv/edit"
@page "/Cv/edit/{Id:int}"
@using BlazorBootstrap
@using ErrorOr
@using JobScraper.Web.Blazor.Components
@using JobScraper.Web.Blazor.Extensions
@using JobScraper.Web.Common.Entities
@using JobScraper.Web.Features.Cv.Components
@using JobScraper.Web.Features.Cv.Helpers
@using JobScraper.Web.Features.Cv.PdfGeneration
@using JobScraper.Web.Modules.Persistence
@using Wolverine

<Toasts class="p-3" Messages="toasts" Placement="ToastsPlacement.TopRight"/>

<div class="row vh-100 pt-2">
    <div class="col-md-9">
        <h2>Edit CV</h2>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text px-1 py-0 small text-muted" title="Bullet Width">Name</span>
            <TextInput @bind-Value="_cv.Name" class="form-control"/>
        </div>
        <button class="btn btn-info btn-sm"
                @onclick="CompareToOrigin"
                disabled="@DisableCompareToOrigin">Compare with origin</button>

        <button class="btn btn-info btn-sm"
                @onclick="CompareToSaved"
                disabled="@DisableCompareToSaved">Compare with saved</button>

        <MarkdownDiffEditor @ref="_diffEditor"
                            CssClass="h-75 mt-3"
                            InitOriginalContent="@OriginalContent"
                            InitModifiedContent="@ModifiedContent"/>
    </div>

    <div class="col-md-3">
        @if (_cv is not null)
        {
            <h5>Layout settings</h5>
            <LayoutConfigComponent Config="_cv.LayoutConfig"/>
        }
        <button class="btn btn-primary mt-2"
                disabled="@isWorking"
                @onclick="GenerateCvPdf">
            Generate CV
        </button>
    </div>
</div>

@inject IJSRuntime JS
@inject JobsDbContext DbContext
@inject IMessageBus MessageBus

@code {
    readonly List<ToastMessage> toasts = [];
    private IJSObjectReference? _downloadModule;
    private MarkdownDiffEditor? _diffEditor;
    private bool isWorking;

    private CompareMode _compareMode = CompareMode.WithSaved;
    private CvEntity? _cv;
    private string OriginalContent = TestData.BaseCv;
    private readonly string ModifiedContent = TestData.ModifiedCv;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id == 0)
        {
            _cv = new()
            {
                Name = "Test",
            };
        }
        else
        {
            // _cv = await DbContext.Cvs.FindAsync(Id) ?? new();
        }

    }

    public async Task<string?> GetModifiedValue() => _diffEditor is not null
        ? await _diffEditor.GetModifiedValueAsync()
        : null;

    private async Task GenerateCvPdf()
    {
        if (_cv is null || _diffEditor is null)
            return;

        var mdContent = await _diffEditor.GetModifiedValueAsync();
        if (string.IsNullOrWhiteSpace(mdContent))
            return;

        isWorking = true;

        var cvContent = new CvContent(mdContent, TestData.Image);
        var request = new GenerateCvPdfFromMarkdown.Request(cvContent, _cv.LayoutConfig);

        ErrorOr<byte[]> result;
        try
        {
            result = await MessageBus.InvokeAsync<ErrorOr<byte[]>>(request);
        }
        catch (Exception e)
        {
            var errorMessage = e.Message.ToFriendlyErrorMessage();
            toasts.PushMessage("Failed to generate CV PDF: " + errorMessage, ToastType.Danger);
            isWorking = false;
            return;
        }

        isWorking = false;

        if (result.IsError)
        {
            toasts.PushMessage("Failed to generate CV PDF", ToastType.Danger);
            return;
        }

        var fileName = $"{_cv.Name}.pdf";
        var pdfBytes = result.Value;
        using var stream = new MemoryStream(pdfBytes);
        using var streamRef = new DotNetStreamReference(stream);

        _downloadModule ??= await JS.InvokeAsync<IJSObjectReference>("import", "./js/downloadFile.js");
        await _downloadModule.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);

        toasts.PushMessage("CV PDF generated successfully");
    }

    private enum CompareMode
    {
        None,
        WithSaved,
        WithOrigin,
    }

    public bool DisableCompareToOrigin =>
        _compareMode is CompareMode.WithOrigin || string.IsNullOrWhiteSpace(_cv?.OriginCv?.MarkdownContent);
    private void CompareToOrigin()
    {
        ArgumentException.ThrowIfNullOrWhiteSpace(_cv?.OriginCv?.MarkdownContent);
        _compareMode = CompareMode.WithOrigin;
        OriginalContent = _cv?.OriginCv?.MarkdownContent!;
    }

    public bool DisableCompareToSaved => _compareMode is CompareMode.WithSaved;
    private void CompareToSaved()
    {
        ArgumentException.ThrowIfNullOrWhiteSpace(_cv?.MarkdownContent);
        _compareMode = CompareMode.WithSaved;
        OriginalContent = _cv?.MarkdownContent!;
    }
}
