@page "/Cv/edit"
@page "/Cv/edit/{Id:int}"
@using BlazorBootstrap
@using Blazored.FluentValidation
@using JobScraper.Web.Features.Cv.Components

<AppPageTitle Title="Edit CV"/>

<NavigationLock ConfirmExternalNavigation="@PreventNavigation"
                OnBeforeInternalNavigation="OnBeforeInternalNavigation"/>

<Toasts class="p-3" Messages="_toasts" Placement="ToastsPlacement.TopRight"/>

<EditForm Model="@cvEntity">
    <FluentValidationValidator @ref="validator"/>

    <div class="row vh-100 pt-2">
        <div class="col-md-9">
            <h2>Edit CV</h2>

            <div class="row">
                <div class="col-md-4">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text px-1 py-0 small text-muted" title="Cv name">Name</span>
                        <TextInput @bind-Value="cvEntity.Name" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text px-1 py-0 small text-muted"
                              title="Value indicating that CV is selected for template for creating dedicated CVs for offers">
                            Is Template
                        </span>
                        <InputSelect @bind-Value="cvEntity.IsTemplate" class="form-control">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </InputSelect>
                    </div>
                </div>

                <div class="col-md-3">
                    @if (cvEntity.OriginCv is not null)
                    {
                        <button class="btn btn-info btn-sm me-1"
                                title="@cvEntity.OriginCv.Name"
                                @onclick="() => GoToCv(cvEntity.OriginCv.Id)">
                            Go to origin CV
                        </button>
                    }
                    @if (relatedOfferUrl is not null)
                    {
                        <a href="cv/prepare-for-offer/@Uri.EscapeDataString(relatedOfferUrl)">
                            <button class="btn btn-info btn-sm">
                                Prepare for offer
                            </button>
                        </a>
                    }
                </div>

                <div class="col-md-3">
                    <button class="btn btn-info btn-sm"
                            @onclick="CompareToOrigin"
                            disabled="@DisableCompareToOrigin">
                        Compare with origin
                    </button>

                    <button class="btn btn-info btn-sm"
                            @onclick="CompareToSaved"
                            disabled="@DisableCompareToSaved">
                        Compare with saved
                    </button>
                </div>

            </div>


            <span class="ml-1">Markdown content:</span>
            <MarkdownDiffEditor @ref="diffEditor"
                                CssClass="h-75 mt-1"
                                OriginalContent="@originalContent"
                                ModifiedContent="@modifiedContent"/>

            <div class="row mt-3">
                <div class="col-md-8">

                    <div class="input-group input-group-sm">
                        <span class="input-group-text px-1 py-0 small text-muted"
                              title="Disclaimer content positioned on the footer">Disclaimer</span>
                        <TextAreaInput @bind-Value="cvEntity.Disclaimer" class="form-control"/>
                    </div>
                </div>

                <div class="col-md-2">
                    <span>Selected image:</span>
                    @{
                        var image = cvEntity.Image;
                    }
                    @if (image is not null)
                    {
                        <div class="small d-flex align-items-center">
                            <a href="@GetImageUrl(image.Id)" target="_blank">@image.FileName</a>
                            <button type="button" class="btn-close ms-2" style="font-size: 0.5rem;"
                                    @onclick="() => cvEntity.Image = null" aria-label="Remove image"></button>
                        </div>
                    }
                    else
                    {
                        <div class="small">No image selected</div>
                    }
                </div>
                <div class="col-md-2">
                    <span>Upload new image:</span>

                    <InputFile OnChange="UploadImage"
                               accept="image/*"
                               disabled="@isWorking"/>
                </div>
            </div>

            <ValidationSummary/>
        </div>

        <div class="col-md-3">
            <h5>Layout settings</h5>

            <LayoutConfigComponent Config="cvEntity.LayoutConfig"/>

            <div class="mt-2">
                <button class="btn btn-success"
                        disabled="@isWorking"
                        @onclick="SaveAsync">
                    Save changes
                </button>
                @if (cvEntity.Id > 0)
                {
                    <button class="btn btn-success ms-1"
                            disabled="@isWorking"
                            @onclick="DuplicateAsync">
                        Create duplicate CV
                    </button>
                    <button class="btn btn-danger"
                            disabled="@isWorking"
                            @onclick="DeleteCvAsync">
                        Delete
                    </button>
                }
                <div class="mt-2">
                    <button class="btn btn-primary"
                            disabled="@isWorking"
                            @onclick="GenerateCvPdf">
                        Generate PDF
                    </button>
                    <button class="btn btn-outline-primary"
                            disabled="@isWorking"
                            @onclick="DownloadMarkdown">
                        Download MD
                    </button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

<DuplicateCvModal @ref="duplicateCvModal" OnSuccess="GoToCv"></DuplicateCvModal>

<ConfirmDialog @ref="dialog"/>
