@page "/cv"
@using BlazorBootstrap
@using JobScraper.Web.Blazor.Components.MySelect
@using JobScraper.Web.Common.Extensions
@using JobScraper.Web.Features.Cv.Models
@using JobScraper.Web.Modules.Extensions
@using JobScraper.Web.Modules.Persistence
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore

<PageTitle>CVs</PageTitle>

<div class="d-flex justify-content-between align-items-center">
    <h1>CVs</h1>
    <div class="ms-2">
        <a class="btn btn-primary" href="cv/edit">Create new CV</a>
    </div>
</div>


<div id="table-container">
    <QuickGrid @ref="@grid" Items="cvs" Pagination="@pagination" Class="table small-padding-table align-items-center">
        <TemplateColumn class="col-1" Title="Actions">
            <ChildContent>
                <a class="btn btn-primary btn-sm" href="/cv/edit/@context.Id">Edit</a>
                <button class="btn btn-danger btn-sm" @onclick="() => DeleteCvAsync(context.Id)">Delete</button>
            </ChildContent>
        </TemplateColumn>
        <PropertyColumn class="col-3" Property="@(c => c.Name)" Sortable="true">
            <HeaderTemplate>
                <button class="col-title mb-1" type="button" @onclick="@(() => context.SortAsync())">
                    <div class="col-title-text">@context.Title</div>
                    <div class="sort-indicator" aria-hidden="true"></div>
                </button>
                <input placeholder="Filter..."
                       @bind="NameFilter"
                       class="form-control form-control-sm"/>
            </HeaderTemplate>
        </PropertyColumn>
        <TemplateColumn class="col-1" SortBy="@(GridSort<CvListDto>.ByAscending(c => !c.HasOrigin))" Title="Type">
            <HeaderTemplate>
                <button class="col-title mb-1" type="button" @onclick="@(() => context.SortAsync())">
                    <div class="col-title-text">@context.Title</div>
                    <div class="sort-indicator" aria-hidden="true"></div>
                </button>
                <MySelect
                    @bind-SelectedOption="@IsTemplateFilter"
                    Options="@BoolFilterHelper.Options"
                    StringSelector="@TemplateStringSelector"
                />
            </HeaderTemplate>
            <ChildContent>
                @(context.IsTemplate ? "Template" : "Dedicated")
            </ChildContent>
        </TemplateColumn>
        <TemplateColumn class="col-2" SortBy="@(GridSort<CvListDto>.ByAscending(c => c.HasOrigin))" Title="Origin CV">
            <HeaderTemplate>
                <button class="col-title mb-1" type="button" @onclick="@(() => context.SortAsync())">
                    <div class="col-title-text">@context.Title</div>
                    <div class="sort-indicator" aria-hidden="true"></div>
                </button>
                <input placeholder="Filter..."
                       @bind="OriginFilter"
                       class="form-control form-control-sm"/>
            </HeaderTemplate>
            <ChildContent>
                @(context.OriginName)
            </ChildContent>
        </TemplateColumn>
        <PropertyColumn class="col-1" Property="@(c => c.OffersCount)" Title="Offers Count"  Sortable="true"/>
        <PropertyColumn class="col-1" Property="@(c => c.DerivedCvsCount)" Title="Derived CVs Count"  Sortable="true"/>
        <PropertyColumn class="col-2" Property="@(c => c.CreatedAt)" Title="Created" Format="yyyy-MM-dd HH:mm"
                        Sortable="true"/>
        <PropertyColumn class="col-2" Property="@(c => c.UpdatedAt)" Title="Updated" Format="yyyy-MM-dd HH:mm"
                        Sortable="true"/>
        <PropertyColumn class="col-1" Property="@(c => c.HasImage)" Title="Has Image"  Sortable="true"/>
    </QuickGrid>
</div>

<ConfirmDialog @ref="dialog"/>


@if (pagination.TotalItemCount is 0)
{
    <div class="d-flex justify-content-center align-items-center">
        <p>No CVs found. Create your first one :)</p>
    </div>
}

<div class="footer">
    <Paginator State="@pagination">
        <SummaryTemplate>
            <div class="d-flex justify-content-between align-items-center w-auto text-nowrap">
                <span class="pe-1">Page size:</span>
                <select @bind="pagination.ItemsPerPage">
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <span class="ps-3">Total: <strong>@pagination.TotalItemCount</strong></span>
            </div>
        </SummaryTemplate>
    </Paginator>
</div>

@inject IDbContextFactory<JobsDbContext> DbFactory

@code {
    QuickGrid<CvListDto> grid = null!;
    JobsDbContext dbContext = null!;
    ConfirmDialog dialog = null!;

    readonly PaginationState pagination = new()
    {
        ItemsPerPage = 50,
    };

    public string? NameFilter { get; set; } = "";
    public string? OriginFilter { get; set; } = "";
    public bool? IsTemplateFilter { get; set; }

    IQueryable<CvListDto> cvs => dbContext.Cvs
        .Include(c => c.OriginCv)
        .WhereIf(!string.IsNullOrWhiteSpace(NameFilter), c => c.Name.ToLower().Contains(NameFilter!.ToLower()))
        .WhereIf(!string.IsNullOrWhiteSpace(OriginFilter), c => c.OriginCv != null && c.OriginCv.Name.ToLower().Contains(OriginFilter!.ToLower()))
        .WhereIf(IsTemplateFilter.HasValue, c => c.IsTemplate == IsTemplateFilter)
        .OrderByDescending(c => c.CreatedAt)
        .Select(CvListDto.Projection);

    protected override async Task OnInitializedAsync()
    {
        dbContext = await DbFactory.CreateDbContextAsync();
    }

    private async Task DeleteCvAsync(long id)
    {
        var confirmation = await dialog.ShowAsync(
            title: "Are you sure you want to delete this?",
            message1: "This will delete the record. Once deleted can not be rolled back.",
            message2: "Do you want to proceed?");

        if (!confirmation)
            return;

        var cv = await dbContext.Cvs.FindAsync(id);
        if (cv is null)
            return;

        dbContext.Remove(cv);
        await dbContext.SaveChangesAsync();
        await grid.RefreshDataAsync();
    }

    public async ValueTask DisposeAsync() => await dbContext.DisposeAsync();

    private static string TemplateStringSelector(bool? value) => value switch
    {
        null  => "All",
        true  => "Template",
        false => "Dedicated",
    };

}
