@page "/cv/prepare-for-offer/{OfferUrl}"
@using BlazorBootstrap
@using Blazored.FluentValidation
@using JobScraper.Web.Features.Cv.Components

<style>
    .cv-container {
        display: flex;
        height: 85vh;
        overflow: hidden;
    }

    #offer-panel > h4 {
        color: #FFC2B2;
    }

    #offer-panel > span {
        white-space: pre-line;
        font-size: 12px;
    }
</style>

<NavigationLock ConfirmExternalNavigation="@PreventNavigation"
                OnBeforeInternalNavigation="OnBeforeInternalNavigation"/>

<Toasts class="p-3" Messages="_toasts" Placement="ToastsPlacement.TopRight"/>

<h3>Prepare CV for offer</h3>

<EditForm Model="@cvEntity">
    <FluentValidationValidator @ref="validator"/>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text px-1 py-0 small text-muted" title="Cv name">Name</span>
                <TextInput @bind-Value="cvEntity.Name" class="form-control"/>
            </div>
        </div>
        <div class="col-md-1">
            <button class="btn btn-info btn-sm"
                    disabled="@isWorking"
                    @onclick="() => GoToCv(cvEntity.Id)">
                Go to CV page
            </button>
        </div>

        <div class="col-md-3">
            <button class="btn btn-info btn-sm"
                    @onclick="CompareToOrigin"
                    disabled="@DisableCompareToOrigin">
                Compare with origin
            </button>

            <button class="btn btn-info btn-sm"
                    @onclick="CompareToSaved"
                    disabled="@DisableCompareToSaved">
                Compare with saved
            </button>
        </div>

        <div class="col-md-4 text-end">
            @if (isWorking)
            {
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            }
            <button class="btn btn-primary btn-sm"
                    disabled="@isWorking"
                    @onclick="GenerateCvPdf">
                Generate PDF
            </button>
            <button class="btn btn-primary btn-sm"
                    disabled="@isWorking"
                    @onclick="PrepareCvContent">
                Prepare with AI
            </button>
            <a href="/cv/edit/@cvEntity.Id">
                <button class="btn btn-info btn-sm" disabled="@isWorking">
                    Go to CV page
                </button>
            </a>
            <button class="btn btn-success btn-sm"
                    disabled="@isWorking"
                    @onclick="SaveAsync">
                Save changes
            </button>
            <button class="btn btn-danger btn-sm"
                    disabled="@isWorking"
                    @onclick="DeleteCvAsync">
                Delete
            </button>
        </div>
    </div>

    <div id="resizable-panels" class="cv-container">
        <div id="offer-panel" class="overflow-auto" style="flex: 0 0 450px; min-width: 200px;">
            @if (!string.IsNullOrEmpty(offer.AiSummary))
            {
                <h4>Ai Summary:</h4>
                <span>
                    @offer.AiSummary
                </span>
            }

            <h4>Description:</h4>
            <span>
                @offer.Details.Description
            </span>

        </div>
        <div class="gutter"
             style="flex: 0 0 5px; cursor: col-resize; background-color: #dee2e6; user-select: none;"></div>
        <div id="editor-panel" style="flex: 1 1 auto; min-width: 400px;">
            <MarkdownDiffEditor
                @ref="diffEditor"
                OriginalContent="@originalContent"
                ModifiedContent="@modifiedContent"
                CssClass="h-100"
                Inline/>
        </div>
        <div class="gutter"
             style="flex: 0 0 5px; cursor: col-resize; background-color: #dee2e6; user-select: none;"></div>
        <div id="right-panel" class="overflow-auto ps-1" style="flex: 0 0 500px; min-width: 200px;">
            <AiCvChat ChatHistory="cvEntity.ChatHistory"
                      IsWorking="isWorking"
                      OnSendMessage="SendChatMessage"/>
        </div>
    </div>

</EditForm>

<ConfirmDialog @ref="dialog"/>
