@using BlazorBootstrap
@using JobScraper.Web.Common.Entities
@using JobScraper.Web.Modules.Persistence
@using JobScraper.Web.Modules.Services
@using Microsoft.EntityFrameworkCore
<Modal @ref="_modal" Title="Offer application" Fullscreen="ModalFullscreen.Always">
    <BodyTemplate>
        <div class="row">
            <div class="col-md-3">
                <h4>
                    Offer details
                    @if (_offer.HideStatus == HideStatus.Starred)
                    {
                        <strong class="text-warning">*</strong>
                    }
                </h4>

                <strong>Title:</strong> @_details.Title<br/>
                <strong>Company Name:</strong>
                <span>@(_details.CompanyName ?? "Not specified")</span><br/>
                @if (_alreadyAppliedToCompany)
                {
                    <span class="text text-danger">Already applied to this company.</span>
                    <br/>
                }
                <strong>Company offers count:</strong> @_companyMyOffersCount<br/>
                <strong>Location:</strong> @(_details.Location ?? "Not specified")<br/>
                <strong>Origin:</strong> @_details.Origin<br/>
                <strong>Published at:</strong> @(_details.PublishedAt?.ToString("dd-MM-yyyy"))<br/>
                <strong>Offer Keywords:</strong> @(string.Join(", ", _details.OfferKeywords))<br/>
                <strong>My Keywords:</strong> @(string.Join(", ", _offer.MyKeywords))<br/>
                <strong>Salary:</strong> @($"{_details.SalaryMinMonth} - {_details.SalaryMaxMonth} {_details.SalaryCurrency}")<br/>

                <div class="form-group pt-3 pb-1">
                    <label for="comments">
                        <b>Offer comments:</b> (updates on show/hide or create/update application record)
                    </label>
                    <InputTextArea id="offer-comments" @bind-Value="@_offer.Comments" class="form-control"/>
                </div>

                <strong>Actions:</strong>
                <div class="mt-2">
                    @if (ShowHideButton)
                    {
                        @if (_offer.HideStatus == HideStatus.Hidden)
                        {
                            <button class="btn btn-secondary" @onclick="RegularOffer">Show</button>
                        }

                        @if (_offer.HideStatus != HideStatus.Hidden)
                        {
                            <button class="btn btn-danger ms-1" @onclick="HideOffer">Hide</button>
                        }

                        @if (_offer.HideStatus == HideStatus.Regular)
                        {
                            <button class="btn btn-warning ms-1" @onclick="StarOffer">Mark as starred</button>
                        }

                        @if (_offer.HideStatus == HideStatus.Starred)
                        {
                            <button class="btn btn-success ms-1" @onclick="RegularOffer">Mark as regular</button>
                        }
                    }
                    <a href="/edit-offer/@Uri.EscapeDataString(_offer.OfferUrl)">
                        <button class="btn btn-info ms-1">Edit offer</button>
                    </a>
                    <button class="btn btn-secondary ms-1" @onclick="CloseAsync">Close</button>
                </div>
            </div>

            <div class="col-md-3">

                <h4>Application record</h4>
                <EditForm Model="@_application">
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>

                    <div class="form-group">
                        <label for="appliedAt">Applied At:</label>
                        <InputDate id="appliedAt" @bind-Value="@_application!.AppliedAt" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="sentCv">Sent CV:</label>
                        <InputText id="sentCv" @bind-Value="@_application.SentCv" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="sentCv">Apply Url:</label>
                        <InputText id="sentCv" @bind-Value="@_application.ApplyUrl" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="respondedAt">Responded At:</label>
                        <InputDate id="respondedAt" @bind-Value="@_application.RespondedAt" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="respondedAt">Status:</label>
                        <InputSelect id="status" @bind-Value="@_application.Status" class="form-control">
                            @foreach (var value in Enum.GetValues<ApplyStatus>())
                            {
                                <option value="@value">@value</option>
                            }
                        </InputSelect>
                    </div>

                    <div class="form-group">
                        <label for="comments">Comments:</label>
                        <InputTextArea id="comments" @bind-Value="@_application.Comments" class="form-control"/>
                    </div>

                    <div class="form-group pb-1 row">
                        <label for="expectedSalary" class="col-12">Expected Salary:</label>
                        <div class="col-6">
                            <InputNumber id="expectedSalary" @bind-Value="@_application.ExpectedSalary"
                                         class="form-control" placeholder="Amount"/>
                        </div>
                        <div class="col-6">
                            <InputText id="expectedSalaryCurrency"
                                       @bind-Value="_application.ExpectedSalaryCurrency"
                                       MaxLength="10"
                                       class="form-control"
                                       placeholder="Currency/time"/>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success"
                            @onclick="SaveAsync">@(_isEdit ? "Update" : "Create")</button>
                    <button type="button" class="btn btn-secondary" @onclick="CloseAsync">Close</button>
                </EditForm>

            </div>
            <div class="col-md-6">
                <h4>Description:</h4>
                @if (_offer.OfferUrl.StartsWith("http"))
                {
                    <a href="@_offer.OfferUrl" target="_blank">
                        <button class="btn btn-primary">Go to offer page</button>
                    </a>
                }
                <br/>
                <br/>

                @if (!string.IsNullOrEmpty(_application?.ApplyUrl))
                {
                    <a href="@_application.ApplyUrl" target="_blank">Apply page</a>
                    <br/>
                }
                <span style="white-space: pre-line">
                    @_details.Description
                </span>
            </div>
        </div>
    </BodyTemplate>
</Modal>

// do not inject db context factory in razor view :p
@inject IDbContextFactory<JobsDbContext> DbContextFactory
@inject NavigationManager NavigationManager
@inject IUserProvider UserProvider

@code {
    private bool _isEdit;
    private Modal _modal = default!;
    private JobsDbContext _context = null!;
    private UserOffer _offer = null!;
    private Application? _application;

    private bool _alreadyAppliedToCompany;
    private int _companyMyOffersCount;

    [Parameter] public bool ShowHideButton { get; set; }
    [Parameter] public Action? OnUpdate { get; set; }
    [Parameter] public Action? OnHide { get; set; }

    private JobOffer _details => _offer.Details;

    protected override async Task OnInitializedAsync()
    {
        _context = await DbContextFactory.CreateDbContextAsync();
    }

    public async Task ShowAsync(UserOffer jobOffer)
    {
        _offer = jobOffer;
        _application = jobOffer.Application;
        _isEdit = jobOffer.Application is not null;
        _application ??= new Application
        {
            OfferUrl = _offer.OfferUrl,
            ExpectedSalaryCurrency = "PLN/mth",
            Owner = UserProvider.UserName,
        };

        _alreadyAppliedToCompany = await _context.Applications
            .AnyAsync(a => a.Offer.Details.CompanyName!.ToLower() == _offer.Details.CompanyName!.ToLower());

        _companyMyOffersCount = await _context.UserOffers
            .Where(jo => jo.Details.CompanyName!.ToLower() == _offer.Details.CompanyName!.ToLower())
            .CountAsync();


        await _modal.ShowAsync();
    }

    private async Task SaveAsync()
    {
        if (_application is null)
            throw new ArgumentNullException(nameof(_application));

        if (_isEdit)
            _context.Update(_application);
        else
            await _context.AddAsync(_application);

        await _context.SaveChangesAsync();

        await Hide();
        OnUpdate?.Invoke();
    }

    private async Task CloseAsync()
    {
        if (_application != null && _context.Entry(_application).State != EntityState.Detached)
        {
            _context.Entry(_application).State = EntityState.Detached;
        }

        await Hide();
    }

    private async Task HideOffer()
    {
        _offer.HideStatus = HideStatus.Hidden;
        _context.Update(_offer);
        await _context.SaveChangesAsync();
        await Hide();
        OnUpdate?.Invoke();
    }

    private async Task StarOffer()
    {
        _offer.HideStatus = HideStatus.Starred;
        _context.Update(_offer);
        await _context.SaveChangesAsync();
        OnUpdate?.Invoke();
    }

    private async Task RegularOffer()
    {
        _offer.HideStatus = HideStatus.Regular;
        _context.Update(_offer);
        await _context.SaveChangesAsync();
        OnUpdate?.Invoke();
    }

    private async Task EditOffer()
    {
        await Hide();
        NavigationManager.NavigateTo($"/edit-offer/{Uri.EscapeDataString(_offer.OfferUrl)}");
    }

    private async Task Hide()
    {
        await _modal.HideAsync();
        OnHide?.Invoke();
    }

    public async ValueTask DisposeAsync() => await _context.DisposeAsync();
}
