@page "/ai-summary/config"
@using BlazorBootstrap
@using Blazored.FluentValidation
@using JobScraper.Web.Blazor.Components.ButtonSelect
@using JobScraper.Web.Blazor.Components.MySelect

<AppPageTitle Title="AI Config"/>

<NavigationLock ConfirmExternalNavigation="@isWorking"
                OnBeforeInternalNavigation="OnBeforeInternalNavigation"/>

<Toasts class="p-3" Messages="toasts" Placement="ToastsPlacement.TopRight"/>

<h2>AI Config</h2>

<EditForm Model="form" disabled="@isWorking">
    <FluentValidationValidator @ref="validator"/>

    <h4>Summary configuration</h4>

    <div class="col-md-6 mb-3">
        <label for="defaultAiModel" class="form-label bold">Default AI model</label>
        <div class="row">
            <div class="col-md-8">
                <MySelect id="defaultAiModel" @bind-SelectedOption="form.DefaultAiModel" Options="aiModels"/>
            </div>
            <div class="col-md-4">
                <button class="btn btn-secondary"
                        @onclick="() => VerifyAiModel(form.DefaultAiModel)"
                        disabled="@isWorking">
                    Verify provider
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <label for="smartAiModel" class="form-label bold">Smart AI model</label>
        <div class="row">
            <div class="col-md-8">
                <MySelect id="smartAiModel" @bind-SelectedOption="form.SmartAiModel" Options="aiModels"/>
            </div>
            <div class="col-md-4">
                <button class="btn btn-secondary"
                        @onclick="() => VerifyAiModel(form.SmartAiModel)"
                        disabled="@isWorking">
                    Verify provider
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <label for="aiSummaryEnabled" class="form-label bold">Enable summarization for new offers</label>
        <InputSelect id="aiSummaryEnabled" @bind-Value="@form.AiSummaryEnabled" class="form-control">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </InputSelect>
    </div>

    <div class="col-md-4 mb-3">
        <label for="cvGenerationEnabled" class="form-label bold">Enable CV generation for new offers (beta)</label>
        <InputSelect id="cvGenerationEnabled" @bind-Value="@form.CvGenerationEnabled" class="form-control">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </InputSelect>
    </div>

    <div class="mb-3">
        <label for="userRequirements" class="form-label bold">User requirements (optional)</label>
        <InputTextArea id="userRequirements" class="form-control" @bind-Value="form.UserRequirements"/>
    </div>

    <div class="mb-3">
        <label for="defaultCv" class="form-label bold" title="Fallback CV when AI fails to select template for offer">
            Default CV
        </label>
        <ButtonSelect TItem="CvViewModel"
                      Id="defaultCv"
                      Items="availableCvs"
                      SelectedItem="@SelectedCv"
                      SelectedItemChanged="@(cv => form.DefaultCv = cv)"
                      StringSelector="cv => cv.Name"
                      CanFilter
                      FilterPlaceholder="Search by CV name"
                      EmptyText="No CVs found"/>

    </div>


    <div class="row">
        <div class="col-md-4 d-flex flex-column">
            <button class="btn btn-primary mb-3" @onclick="ScheduleSummaryJob" disabled="@isWorking">
                Schedule AI summary job for marked offers
            </button>
        </div>

        <div class="col-md-4 d-flex flex-column">
            <button class="btn btn-success mb-3" @onclick="SaveConfig" disabled="@isWorking">
                Save config
            </button>
        </div>
    </div>
    <ValidationSummary/>

    <h4>Testing</h4>

    <div class="mb-3">
        <label for="offerContent" class="form-label bold">Test offer content</label>
        <InputTextArea id="offerContent" style="height: 150px;" class="form-control"
                       @bind-Value="form.TestOfferContent"/>
    </div>

    <div class="row">
        <div class="col-md-3 d-flex flex-column">
            <button class="btn btn-primary mb-3" @onclick="TestSelectingCvForOffer" disabled="@isWorking">
                Test selecting CV for offer
            </button>
        </div>
        <div class="col-md-3 d-flex flex-column">
            <button class="btn btn-primary mb-3" @onclick="TestSummarizeOfferContent" disabled="@isWorking">
                Test summarize offer content
            </button>
        </div>
        <div class="col-md-3 d-flex flex-column">
            <button class="btn btn-primary mb-3" @onclick="TestCreatingCvContentForOffer" disabled="@isWorking">
                Test creating cv content for offer
            </button>
        </div>
    </div>

    @if (isWorking)
    {
        <div class="mt-3">
            <h4>Status:</h4>
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
            <h5>Do not leave this page. Operation is in progress...</h5>
        </div>
    }

    @if (chatHistory.Count > 0)
    {
        <h4>Chat history</h4>
        <ChatHistory Items="chatHistory"/>
    }
</EditForm>
