@page "/users"
@using JobScraper.Web.Common.Entities
@using JobScraper.Web.Common.Extensions
@using JobScraper.Web.Modules.Extensions
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

<AppPageTitle Title="Users"/>

<div class="d-flex justify-content-between align-items-center">
    <h1>Users</h1>
</div>

<div id="table-container">
    <QuickGrid @ref="@grid" Items="filteredUsers" Pagination="@pagination"
               Class="table small-padding-table align-items-center">
        <TemplateColumn class="col-1" Title="Actions">
            <ChildContent>
                <a class="btn btn-primary btn-sm" href="/users/edit/@context.Id">Edit</a>
            </ChildContent>
        </TemplateColumn>
        <TemplateColumn class="col-2" Title="Username" Sortable="true"
                        SortBy="@(GridSort<ApplicationUser>.ByAscending(u => u.UserName))">
            <HeaderTemplate>
                <button class="col-title mb-1" type="button" @onclick="@(() => context.SortAsync())">
                    <div class="col-title-text">@context.Title</div>
                    <div class="sort-indicator" aria-hidden="true"></div>
                </button>
                <input placeholder="Filter..."
                       @bind="UserNameFilter"
                       class="form-control form-control-sm"/>
            </HeaderTemplate>
            <ChildContent>
                @context.UserName
            </ChildContent>
        </TemplateColumn>
        <TemplateColumn class="col-3" Title="Email" Sortable="true"
                        SortBy="@(GridSort<ApplicationUser>.ByAscending(u => u.Email))">
            <HeaderTemplate>
                <button class="col-title mb-1" type="button" @onclick="@(() => context.SortAsync())">
                    <div class="col-title-text">@context.Title</div>
                    <div class="sort-indicator" aria-hidden="true"></div>
                </button>
                <input placeholder="Filter..."
                       @bind="EmailFilter"
                       class="form-control form-control-sm"/>
            </HeaderTemplate>
            <ChildContent>
                @context.Email
            </ChildContent>
        </TemplateColumn>
        <PropertyColumn class="col-2" Property="@(u => u.EmailConfirmed)" Title="Email Confirmed" Sortable="true"/>
        <PropertyColumn class="col-2" Property="@(u => u.PhoneNumber)" Title="Phone" Sortable="true"/>
        <TemplateColumn class="col-2" Title="Roles">
            <ChildContent>
                @if (userRoles.TryGetValue(context.Id, out var roles))
                {
                    @string.Join(", ", roles)
                }
            </ChildContent>
        </TemplateColumn>
    </QuickGrid>
</div>

@if (pagination.TotalItemCount is 0)
{
    <div class="d-flex justify-content-center align-items-center">
        <p>No users found.</p>
    </div>
}

<div class="footer">
    <Paginator State="@pagination">
        <SummaryTemplate>
            <div class="d-flex justify-content-between align-items-center w-auto text-nowrap">
                <span class="pe-1">Page size:</span>
                <select @bind="pagination.ItemsPerPage">
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <span class="ps-3">Total: <strong>@pagination.TotalItemCount</strong></span>
            </div>
        </SummaryTemplate>
    </Paginator>
</div>

@inject UserManager<ApplicationUser> UserManager

@code {
    QuickGrid<ApplicationUser> grid = null!;

    readonly PaginationState pagination = new()
    {
        ItemsPerPage = 50,
    };

    public string? UserNameFilter { get; set; } = "";
    public string? EmailFilter { get; set; } = "";

    readonly Dictionary<string, IList<string>> userRoles = new();

    IQueryable<ApplicationUser> filteredUsers => UserManager.Users
        .WhereIf(!string.IsNullOrWhiteSpace(UserNameFilter),
            u => u.UserName != null && u.UserName.ToLower().Contains(UserNameFilter!.ToLower()))
        .WhereIf(!string.IsNullOrWhiteSpace(EmailFilter),
            u => u.Email != null && u.Email.ToLower().Contains(EmailFilter!.ToLower()))
        .OrderBy(u => u.UserName);

    protected override async Task OnInitializedAsync()
    {
        var users = await UserManager.Users.ToListAsync();
        foreach (var user in users)
        {
            var roles = await UserManager.GetRolesAsync(user);
            userRoles[user.Id] = roles;
        }
    }
}
